###########################
#WebStorm Files
###########################
.idea/

###########################
#NPM Files
###########################
node_modules/
npm-debug.log

###########################
#Angular2 Files
###########################
typings/
client/app/*.js
client/app/*.js.map