<h1>Music Basket</h1>
Enter Artist Name: <input type="text" (keyup)="keyup($event)">
<ul>
    <li *ngFor="let artist of artists" (click)="listAlbum(artist.artistId)">{{artist.artistName}}</li>
</ul>
<div *ngIf="albums">
    Albums<br/>
    <ul>
        <li *ngFor="let album of albums" (click)="listTrack(album.collectionId)">
            <img [src]="album.artworkUrl100">
            <div>{{album.collectionName}}</div>
            <div>{{album.artistName}}</div>
        </li>
    </ul>
</div>
<modal #trackList>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{trackAlbum?.album?.collectionName}} </h4>
        <h5 class="modal-title">{{trackAlbum?.album?.artistName}} > </h5>
        {{trackAlbum?.album?.trackCount}} Songs
    </modal-header>
    <modal-body>
        <ul>
            <li *ngFor="let track of trackAlbum?.tracks">
                {{track?.trackNumber}}. {{track?.trackName}} ({{track?.collectionArtistName}})
                {{track?.trackTimeMillis}}
                {{track?.primaryGenreName}}
                {{track?.releaseDate}}
            </li>
        </ul>
    </modal-body>
</modal>